
div.gallery{
    justify-content: right;
    padding: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}
.gallery img{
    max-width: 100%;
}
.gallery .wide {
    width: 400px;
    height: 200px;
}
.gallery .square-big {
    width: 400px;
    height: 400px;
}
.gallery .square-small {
    width: 200px;
    height: 200px;
}